.FM-card {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 315px;
}

.FM-card-23 img {
    margin-bottom: 56px !important;
}

.FM-card-29 img {
    margin-bottom: 25px !important;
}

.FM-card-23 .FM-h5 {
    margin-bottom: 19px;
}

.FM-card-25 .FM-h5 {
    margin-bottom: 10px;
}


@media screen and (max-width:768px) {
    .FM-card {
        width: 48%;
    }
}

@media screen and (max-width:576px) {
    .FM-card {
        width: 100%;
    }
}